body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-block: 1.5rem;
}

body > * {
  width: 100%;
  margin: 0 auto;
  max-width: 90vw;
}

ol,
ul {
  padding-left: 1.5rem;
  margin-block: 0;
}

ul > li:not(:last-child),
ol > li:not(:last-child) {
  margin-bottom: 1rem;
}

ol > li::marker {
  font-size: 1.25rem;
  font-weight: normal;
}

.offset-off {
  width: calc(100% + 1.5rem);
  margin-left: -1.5rem;
}

.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 0.75rem;
  grid-template-areas: "header-logo" "header-title";
  margin-bottom: 1rem;
}

.header__title {
  grid-area: header-title;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0;
}

.header__logo {
  grid-area: header-logo;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo__image {
  display: block;
  width: 150px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.form__control {
  display: grid;
  align-items: center;
  gap: 0.5rem;
}

.form__control input {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0.5rem;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.25rem;
}

.form__control.border input {
  border: none;
}

.form__control textarea {
  resize: vertical;
  padding: 0.5rem;
  font-family: Arial, sans-serif;
  border-color: #808080;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.form__inline-group {
  display: grid;
  gap: 1rem;
}

.price-checkbox {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 36px 72px auto;
  grid-template-rows: 36px;
  align-items: center;
}

.price-checkbox__check {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.price-checkbox__price {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1.25rem;
  font-size: 1rem;
  text-align: right;
  border-width: 1px;
}

.price-checkbox__currency {
  font-size: 1rem;
}

.image__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image__container img {
  display: block;
  width: 100%;
  height: auto;
}

.image__container input[type="checkbox"] {
  position: absolute;
  transform: translate(-50%, -50%);
}

.list-item {
  gap: 0.25rem;
  display: grid;
  width: 100%;
  grid-template-areas:
    "li-title"
    "li-description"
    "li-content";
}

.list-item__title {
  grid-area: li-title;
  margin: 0;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.list-item__description {
  grid-area: li-description;
  margin: 0;
}

.list-item__description:empty {
  display: none;
}

.list-item__content {
  grid-area: li-content;
  display: grid;
  gap: 1rem;
}

.column--1-1 {
  grid-template-columns: 1fr;
}

.column--2-1 {
  grid-template-columns: 1fr;
}

.options-section {
  padding-block: 0.75rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr auto;
}

.options-section__list {
  list-style-type: disc;
}

.options-section__description {
  align-self: flex-end;
  margin: 0;
}

.border {
  border: 1px solid #808080;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

@media screen and (min-width: 768px) {
  .list-item--inline {
    align-items: start;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "li-title li-content"
      "li-description li-content";
  }
}

@media screen and (min-width: 1024px) {
  body > * {
    --width: 1024px;
    max-width: calc(var(--width) - 2rem);
  }

  .header {
    grid-template-columns: 1fr auto;
    grid-template-areas: "header-title header-logo";
    text-align: unset;
  }

  .column--auto-1 {
    grid-template-columns: auto 1fr;
  }

  .column--1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .column--2-1 {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  body > * {
    --width: 1280px;
  }
}

@media screen and (min-width: 1536px) {
  body > * {
    --width: 1536px;
  }
}

@media print {
  body {
    padding: 1px;
  }

  body > * {
    max-width: unset;
    margin: 0;
  }

  .header {
    grid-template-columns: 1fr auto;
    grid-template-areas: "header-title header-logo";
    text-align: unset;
  }

  .column--auto-1 {
    grid-template-columns: auto 1fr;
  }

  .column--1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .column--2-1 {
    grid-template-columns: 2fr 1fr;
  }

  .list-item--inline {
    align-items: start;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "li-title li-content"
      "li-description li-content";
  }
}
