body {
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header__title {
  text-transform: uppercase;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.form__control {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  width: 100%;
}

.form__control input {
  width: 100%;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1.2rem;
  margin-bottom: 8px;
}

.form__inline-group {
  display: grid;
  gap: 8px;
}

.form__inline-group--2-1 {
  grid-template-columns: 2fr 1fr;
}

.form__inline-group--1-2-1 {
  grid-template-columns: 1fr 2fr 1fr;
}

.price-checkbox {
  display: grid;
  gap: 12px;
  grid-template-columns: 50px 100px auto;
  grid-template-rows: 50px;
  align-items: center;
}

.price-checkbox__check {
  width: 100%;
  height: 100%;
}

.price-checkbox__price {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1.2rem;
  font-size: 1.2rem;
}

.price-checkbox__currency {
  line-height: 1.2rem;
  font-size: 1.2rem;
}

.list-item__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.image__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image__container img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.list-item {
  display: grid;
  width: 100%;
  grid-template-areas:
    "li-title"
    "li-description"
    "li-content";
}

.list-item--inline {
  gap: 1rem 2rem;
  align-items: center;
  justify-items: space-between;
  grid-template-areas:
    "li-title li-content"
    "li-description li-content";
}

.list-item__title {
  grid-area: li-title;
  margin: 0;
}

.list-item__description {
  grid-area: li-description;
  margin: 0;
}

.list-item__content {
  grid-area: li-content;
}
