body {
  font-family: Arial, sans-serif;
}

body > * {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

ul > li:not(:last-child),
ol > li:not(:last-child) {
  margin-bottom: 2rem;
}

ol > li::marker {
  font-size: 1.5rem;
  font-weight: normal;
}

.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

.header__title {
  text-transform: uppercase;
  font-size: 2rem;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__title {
  text-transform: uppercase;
  font-size: 1.75rem;
}

.logo__image {
  display: block;
  width: 200px;
}

.form__control {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  width: 100%;
}

.form__control input {
  width: 100%;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1.25rem;
  margin-bottom: 8px;
}

.form__inline-group {
  display: grid;
  gap: 1rem;
}

.price-checkbox {
  display: grid;
  gap: 12px;
  grid-template-columns: 50px 100px auto;
  grid-template-rows: 50px;
  align-items: center;
}

.price-checkbox__check {
  width: 100%;
  height: 100%;
}

.price-checkbox__price {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1.25rem;
  font-size: 1.25rem;
}

.price-checkbox__currency {
  line-height: 1.25rem;
  font-size: 1.25rem;
}

.image__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image__container img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.list-item {
  display: grid;
  width: 100%;
  grid-template-areas:
    "li-title"
    "li-description"
    "li-content";
}

.list-item--inline {
  gap: 0.5rem 2rem;
  align-items: start;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "li-title li-content"
    "li-description li-content";
}

.list-item__title {
  grid-area: li-title;
  margin: 0;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.list-item__description {
  grid-area: li-description;
  margin: 0;
}

.list-item__description:empty {
  display: none;
}

.list-item__content {
  grid-area: li-content;
  display: grid;
  gap: 2rem;
}

.list-item__content li:first-child {
  padding-top: 1rem;
}

.column--1-1 {
  grid-template-columns: 1fr 1fr;
}

.column--2-1 {
  grid-template-columns: 2fr 1fr;
}

.options-section {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr auto;
}

.options-section__description {
  align-self: flex-end;
  margin: 0;
}
